* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  font-family: "IBM Plex Mono", monospace;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "IBM Plex Sans", sans-serif;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

header {
  padding-top: 10px;
}

header img {

}

header .menu-container {
  position: relative;
}

.menu-container .menu-icon {
  padding-right: 10px;
  font-size: 2rem;
  display: inline-block;
  width: 100%;
  text-align: right;
  transition: all 250ms ease;
}

.menu-container .close-icon {
  font-size: 2rem;
  position: absolute;
  right: 10px;
  opacity: 0;
  transition: all 250ms ease;
}

.menu-container input {
  position: absolute;
  width: 2rem;
  height: 2rem;
  right: 10px;
  opacity: 0;
  z-index: 10;
}
.menu-container input:checked  ~ .close-icon{
  opacity: 1;
}

.menu-container input:checked ~ .menu-icon {
  opacity: 0;
}

.menu-container input:checked  ~ nav{
  padding-top: 16px;
  padding-bottom: 24px;
  height: 224px;
}

nav {
  width: 100%;
  min-width: 320px;
  height: 0px;
  padding: 0;
  background-color: #0000EC;
  font-size: 1.6rem;
  line-height: 2.8rem;
  transition: all 500ms ease;
}

nav ul{
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

nav ul li{
  height: inherit;
}

nav a {
  padding-left: 16px;
  height: 100%;
  width: 100%;
  display: inline-block;
  text-decoration: none;
  color: #ffffff;
}