@media screen and (min-width: 767px) {
  header {
    padding: 22px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  header img {
    position: initial;
    width: 36px;
    height: 36px;
  }

  .menu-container input:checked ~ nav {
    padding: 0;
    margin: 0;
    height: auto;
  }

  .menu-container .menu-icon,
  .close-icon,
  input {
    display: none;
  }

  nav {
    width: auto;
    min-width: 320px;
    height: auto;
    opacity: 1;
    margin: 0;
    background-color: #ffffff;
  }

  nav ul {
    flex-direction: row;
    justify-content: space-between;
    padding: 4px 0;
  }

  nav ul li {
    margin-left: 48px;
  }

  nav a {
    padding: 0;
    font-size: 1.4rem;
    color: #060a24;
  }

  .home {
    padding-left: 100px;
    padding-right: 100px;
  }

  .home h1 {
    font-size: 4.2rem;
  }

  .home p {
    font-size: 1.6rem;
  }

  .episodes {
    padding-top: 100px;
  }

  .episodes-container h2 {
    font-size: 4.8rem;
    line-height: 6.2rem;
    text-align: center;
  }

  .episodes-grid-container {
    margin-top: 26px;
    row-gap: 40px;
  }

  .us-text-container {
    margin: 0 50px;
  }

  .guest-grid-container {
    grid-template-columns: 1fr 1fr;
  }

  .topics-container h2 {
    font-size: 4.8rem;
    line-height: 6.2rem;
    margin-left: 100px;
  }

  .topics-grid-container {
    margin-top: 69px;
    grid-template-columns: repeat(2, 1fr);
  }

  .news-container {
    padding-top: 100px;
  }

  footer p {
    font-size: 1.6rem;
    line-height: 2.8rem;
  }

  footer .social {
    margin-top: 25px;
    font-size: 2.2rem;
    max-width: 300px;
  }
}
